In [20]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from PIL import Image

In [42]:
train = pd.read_csv('train.csv', header = 0)
train['Title'] = train['Name'].str.extract(r'([^\W]+\.)')
train['Child'] = np.where(train['Age'] > 18, 0, 1)

In [43]:
from sklearn.preprocessing import normalize
train['ExpensiveTicket'] = np.where(train['Fare'] > train['Fare'].mean(), 1, 0)
train['Age'] = train['Age'].fillna(value = train['Age'].mode()[0])
train['Age'] = normalize(train['Age'].values)[0]
train['FamSize'] = train['SibSp'] + train['Parch']
train['FamSize'] = normalize(train['FamSize'].values)[0]
train['Pclass'] = normalize(train['Pclass'].values)[0]
train['CabinCategory'] = pd.Series(train['Cabin']).str[0]
train['CabinNumber'] = pd.Series(train['Cabin'].dropna().str.extract(r'(\d+)'))
train['CabinNumber'] = train['CabinNumber'].fillna(value = train['CabinNumber'].mode()[0])
train['Sex'] = np.where(train['Sex'] == 'male', 1, 0)
train['CabinCategory'] = train['CabinCategory'].fillna(value = train['CabinCategory'].mode()[0])
train['Embarked'] = train['Embarked'].fillna(value = train['Embarked'].mode()[0])
train.head()

/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, DataConversionWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, DataConversionWarning)

   PassengerId  Survived    Pclass                                               Name  Sex       Age  SibSp  Parch            Ticket     Fare Cabin Embarked  Title  Child  ExpensiveTicket   FamSize CabinCategory CabinNumber
0            1         0  0.040935                            Braund, Mr. Owen Harris    1  0.023423      1      0         A/5 21171   7.2500   NaN        S    Mr.      0                0  0.018119             C          33
1            2         1  0.013645  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.040458      1      0          PC 17599  71.2833   C85        C   Mrs.      0                1  0.018119             C          85
2            3         1  0.040935                             Heikkinen, Miss. Laina    0  0.027682      0      0  STON/O2. 3101282   7.9250   NaN        S  Miss.      0                0  0.000000             C          33
3            4         1  0.013645       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.037264      1      0            113803  53.1000  C123        S   Mrs.      0                1  0.018119             C         123
4            5         0  0.040935                           Allen, Mr. William Henry    1  0.037264      0      0            373450   8.0500   NaN        S    Mr.      0                0  0.000000             C          33

In [49]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train['Title'])
train['Title'] = le.transform(train['Title'])
train['Title'] = normalize(train['Title'].values)[0]
le.fit(train['Embarked'])
train['Embarked'] = le.transform(train['Embarked'])
train['Embarked'] = normalize(train['Embarked'].values)[0]
le.fit(train['CabinCategory'])
train['CabinCategory'] = le.transform(train['CabinCategory'])
train['CabinCategory'] = normalize(train['CabinCategory'].values)[0]
train['CabinNumber'] = normalize(train['CabinNumber'].values)[0]
train.head()

/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, DataConversionWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, DataConversionWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, DataConversionWarning)
/Users/hechengwang/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

   PassengerId  Survived    Pclass                                               Name  Sex       Age  SibSp  Parch            Ticket     Fare Cabin  Embarked     Title  Child  ExpensiveTicket   FamSize  CabinCategory  CabinNumber
0            1         0  0.040935                            Braund, Mr. Owen Harris    1  0.023423      1      0         A/5 21171   7.2500   NaN  0.038771  0.035342      0                0  0.018119       0.030296     0.026840
1            2         1  0.013645  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.040458      1      0          PC 17599  71.2833   C85  0.000000  0.038288      0                1  0.018119       0.030296     0.069134
2            3         1  0.040935                             Heikkinen, Miss. Laina    0  0.027682      0      0  STON/O2. 3101282   7.9250   NaN  0.038771  0.026507      0                0  0.000000       0.030296     0.026840
3            4         1  0.013645       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.037264      1      0            113803  53.1000  C123  0.038771  0.038288      0                1  0.018119       0.030296     0.100041
4            5         0  0.040935                           Allen, Mr. William Henry    1  0.037264      0      0            373450   8.0500   NaN  0.038771  0.035342      0                0  0.000000       0.030296     0.026840

In [76]:
train_x = train.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch'], axis = 1)
train_y = train['Survived']
print train_x.head()
pca = PCA(n_components=11)
X = pca.fit_transform(train_x)

     Pclass  Sex       Age     Fare  Embarked     Title  Child  ExpensiveTicket   FamSize  CabinCategory  CabinNumber
0  0.040935    1  0.023423   7.2500  0.038771  0.035342      0                0  0.018119       0.030296     0.026840
1  0.013645    0  0.040458  71.2833  0.000000  0.038288      0                1  0.018119       0.030296     0.069134
2  0.040935    0  0.027682   7.9250  0.038771  0.026507      0                0  0.000000       0.030296     0.026840
3  0.013645    0  0.037264  53.1000  0.038771  0.038288      0                1  0.018119       0.030296     0.100041
4  0.040935    1  0.037264   8.0500  0.038771  0.035342      0                0  0.000000       0.030296     0.026840

In [77]:
pca.explained_variance_ratio_*100

array([  9.99777092e+01,   9.67990709e-03,   8.51012466e-03,
         4.04067360e-03,   3.01423296e-05,   8.47590085e-06,
         8.40356720e-06,   5.10550708e-06,   4.68316563e-06,
         2.32076862e-06,   1.00493044e-06])

In [109]:
print(X)

[[ -2.49554464e+01  -4.87225816e-01   1.26857054e-02 ...,  -4.91131533e-03
   -1.89196552e-03  -1.05139759e-03]
 [  3.90841627e+01   1.23856798e-01  -6.91878463e-01 ...,   5.82238481e-05
   -1.84710267e-03  -6.17410991e-03]
 [ -2.42787068e+01   1.37188091e-01  -7.62757167e-01 ...,  -7.13228382e-03
   -4.71684201e-03   6.33838976e-03]
 ...,
 [ -8.75477231e+00   9.07970485e-01  -1.02117669e-01 ...,  -1.31433959e-03
   -2.66852188e-03   3.96536312e-03]
 [ -2.20584936e+00  -5.01998492e-01   6.42675138e-02 ...,   1.34382577e-04
    1.00445872e-02  -2.60137633e-03]
 [ -2.44554561e+01  -4.87910383e-01   1.37306206e-02 ...,  -1.01055611e-03
   -5.93241892e-03   4.34825358e-04]]

In [102]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import train_test_split

def classify(X,y, nbrs, plotit=True, train_size=0.6):
    Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, train_size=train_size)
    clf= KNeighborsClassifier(nbrs)
    clf=clf.fit(Xtrain, ytrain)
    #in sklearn accuracy can be found by using "score". It predicts and then gets the accuracy
    training_accuracy = clf.score(Xtrain, ytrain)
    test_accuracy = clf.score(Xtest, ytest)
    Xall=np.concatenate((Xtrain, Xtest))
    if plotit:
        pass
        #print "Accuracy on training data: %0.2f" % (training_accuracy)
        #print "Accuracy on test data:     %0.2f" % (test_accuracy)
        #plt.figure()
        #ax=plt.gca()
        #points_plot(ax, Xtrain, Xtest, ytrain, ytest, clf, alpha=0.3, psize=20)
    return nbrs, training_accuracy, test_accuracy

In [113]:
for neighbor in range(1,100):
    store_value = 0
    if classify(train_x, train_y, neighbor)[2] > store_value:
        store_value = classify(train_x, train_y, neighbor)[2]
print store_value

0.663865546218