In [71]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from PIL import Image

In [72]:
train = pd.read_csv('train.csv', header = 0)
train['Title'] = train['Name'].str.extract(r'([^\W]+\.)')
train['Child'] = np.where(train['Age'] > 18, 0, 1)

In [73]:
from sklearn.preprocessing import normalize
train['ExpensiveTicket'] = np.where(train['Fare'] > train['Fare'].mean(), 1, 0)
train['Age'] = train['Age'].fillna(value = train['Age'].mode()[0])
#train['Age'] = normalize(train['Age'].values)[0]
train['FamSize'] = train['SibSp'] + train['Parch']
#train['FamSize'] = normalize(train['FamSize'].values)[0]
#train['Pclass'] = normalize(train['Pclass'].values)[0]
train['CabinCategory'] = pd.Series(train['Cabin']).str[0]
train['CabinNumber'] = pd.Series(train['Cabin'].dropna().str.extract(r'(\d+)'))
train['CabinNumber'] = train['CabinNumber'].fillna(value = train['CabinNumber'].mode()[0])
train['Sex'] = np.where(train['Sex'] == 'male', 1, 0)
train['CabinCategory'] = train['CabinCategory'].fillna(value = train['CabinCategory'].mode()[0])
train['Embarked'] = train['Embarked'].fillna(value = train['Embarked'].mode()[0])
train.head()

   PassengerId  Survived  Pclass                                               Name  Sex  Age  SibSp  Parch            Ticket     Fare Cabin Embarked  Title  Child  ExpensiveTicket  FamSize CabinCategory CabinNumber
0            1         0       3                            Braund, Mr. Owen Harris    1   22      1      0         A/5 21171   7.2500   NaN        S    Mr.      0                0        1             C          33
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0   38      1      0          PC 17599  71.2833   C85        C   Mrs.      0                1        1             C          85
2            3         1       3                             Heikkinen, Miss. Laina    0   26      0      0  STON/O2. 3101282   7.9250   NaN        S  Miss.      0                0        0             C          33
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0   35      1      0            113803  53.1000  C123        S   Mrs.      0                1        1             C         123
4            5         0       3                           Allen, Mr. William Henry    1   35      0      0            373450   8.0500   NaN        S    Mr.      0                0        0             C          33

In [78]:
train.Title = np.where(train.Title == 'Don.', 'Mr.', train.Title)
train.Title = np.where(train.Title == 'Mme.', 'Ms.', train.Title)
train.Title = np.where(train.Title == 'Mlle.', 'Mr.', train.Title)
train.Title = np.where(train.Title == 'Countess.', 'Ms.', train.Title)
train.Title = np.where(train.Title == 'Jonkheer.', 'Mr.', train.Title)

train.Title.unique()

array(['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Rev.', 'Dr.', 'Ms.', 'Major.',
       'Lady.', 'Sir.', 'Col.', 'Capt.'], dtype=object)

In [79]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train['Title'])
train['Title'] = le.transform(train['Title'])
#train['Title'] = normalize(train['Title'].values)[0]
le.fit(train['Embarked'])
train['Embarked'] = le.transform(train['Embarked'])
#train['Embarked'] = normalize(train['Embarked'].values)[0]
le.fit(train['CabinCategory'])
train['CabinCategory'] = le.transform(train['CabinCategory'])
#train['CabinCategory'] = normalize(train['CabinCategory'].values)[0]
#train['CabinNumber'] = normalize(train['CabinNumber'].values)[0]
train.head()

   PassengerId  Survived  Pclass                                               Name  Sex  Age  SibSp  Parch            Ticket     Fare Cabin  Embarked  Title  Child  ExpensiveTicket  FamSize  CabinCategory CabinNumber
0            1         0       3                            Braund, Mr. Owen Harris    1   22      1      0         A/5 21171   7.2500   NaN         2      7      0                0        1              2          33
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0   38      1      0          PC 17599  71.2833   C85         0      8      0                1        1              2          85
2            3         1       3                             Heikkinen, Miss. Laina    0   26      0      0  STON/O2. 3101282   7.9250   NaN         2      6      0                0        0              2          33
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0   35      1      0            113803  53.1000  C123         2      8      0                1        1              2         123
4            5         0       3                           Allen, Mr. William Henry    1   35      0      0            373450   8.0500   NaN         2      7      0                0        0              2          33

In [83]:
train_x = train.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 
                      'Cabin', 'SibSp', 'Parch', 'CabinNumber', 
                      'ExpensiveTicket', 'FamSize', 'CabinCategory',
                      'Age', 'Embarked'], axis = 1)
train_y = train['Survived']
train_x.columns

Index([u'Pclass', u'Sex', u'Fare', u'Title', u'Child'], dtype='object')

In [84]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import cross_validation
from sklearn import preprocessing
from sklearn.cross_validation import KFold
from sklearn.metrics import accuracy_score
import scipy
import matplotlib as mpl
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV

In [86]:
clfl2=RandomForestClassifier()
parameters = {"n_estimators": [400, 500],
              "max_depth": [5]}
fitmodel = GridSearchCV(clfl2, param_grid=parameters, cv=5, scoring="accuracy")
fitmodel.fit(train_x, train_y)
fitmodel.best_estimator_, fitmodel.best_params_, fitmodel.best_score_, fitmodel.grid_scores_

(RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
             max_depth=5, max_features='auto', max_leaf_nodes=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
             oob_score=False, random_state=None, verbose=0,
             warm_start=False),
 {'max_depth': 5, 'n_estimators': 500},
 0.82154882154882158,
 [mean: 0.81818, std: 0.02442, params: {'n_estimators': 400, 'max_depth': 5},
  mean: 0.82155, std: 0.02383, params: {'n_estimators': 500, 'max_depth': 5}])

In [87]:
from sklearn.naive_bayes import GaussianNB

clfl2=GaussianNB()
parameters = {}
fitmodel = GridSearchCV(clfl2, param_grid=parameters, cv=5, scoring="accuracy")
fitmodel.fit(train_x, train_y)
fitmodel.best_estimator_, fitmodel.best_params_, fitmodel.best_score_, fitmodel.grid_scores_

(GaussianNB(),
 {},
 0.75982042648709314,
 [mean: 0.75982, std: 0.02948, params: {}])

In [92]:
from sklearn.ensemble import GradientBoostingClassifier


clfl2=GradientBoostingClassifier()
parameters = {"n_estimators": [10, 20, 30, 40, 500, 1000], 
              "max_depth": [1, 2, 3, 4, 5]}
fitmodel = GridSearchCV(clfl2, param_grid=parameters, cv=5, scoring="accuracy")
fitmodel.fit(train_x, train_y)
fitmodel.best_estimator_, fitmodel.best_params_, fitmodel.best_score_, fitmodel.grid_scores_

(GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
               max_depth=2, max_features=None, max_leaf_nodes=None,
               min_samples_leaf=1, min_samples_split=2,
               min_weight_fraction_leaf=0.0, n_estimators=500,
               presort='auto', random_state=None, subsample=1.0, verbose=0,
               warm_start=False),
 {'max_depth': 2, 'n_estimators': 500},
 0.83052749719416386,
 [mean: 0.78676, std: 0.01888, params: {'n_estimators': 10, 'max_depth': 1},
  mean: 0.78676, std: 0.01888, params: {'n_estimators': 20, 'max_depth': 1},
  mean: 0.78676, std: 0.01888, params: {'n_estimators': 30, 'max_depth': 1},
  mean: 0.78900, std: 0.01695, params: {'n_estimators': 40, 'max_depth': 1},
  mean: 0.81257, std: 0.01391, params: {'n_estimators': 500, 'max_depth': 1},
  mean: 0.81369, std: 0.01593, params: {'n_estimators': 1000, 'max_depth': 1},
  mean: 0.78676, std: 0.02129, params: {'n_estimators': 10, 'max_depth': 2},
  mean: 0.77553, std: 0.02078, params: {'n_estimators': 20, 'max_depth': 2},
  mean: 0.79012, std: 0.01986, params: {'n_estimators': 30, 'max_depth': 2},
  mean: 0.79237, std: 0.02489, params: {'n_estimators': 40, 'max_depth': 2},
  mean: 0.83053, std: 0.02430, params: {'n_estimators': 500, 'max_depth': 2},
  mean: 0.82379, std: 0.01991, params: {'n_estimators': 1000, 'max_depth': 2},
  mean: 0.80359, std: 0.00875, params: {'n_estimators': 10, 'max_depth': 3},
  mean: 0.80471, std: 0.00858, params: {'n_estimators': 20, 'max_depth': 3},
  mean: 0.81033, std: 0.00767, params: {'n_estimators': 30, 'max_depth': 3},
  mean: 0.81145, std: 0.00980, params: {'n_estimators': 40, 'max_depth': 3},
  mean: 0.81930, std: 0.02738, params: {'n_estimators': 500, 'max_depth': 3},
  mean: 0.81818, std: 0.01549, params: {'n_estimators': 1000, 'max_depth': 3},
  mean: 0.81481, std: 0.01791, params: {'n_estimators': 10, 'max_depth': 4},
  mean: 0.82716, std: 0.02987, params: {'n_estimators': 20, 'max_depth': 4},
  mean: 0.82155, std: 0.03026, params: {'n_estimators': 30, 'max_depth': 4},
  mean: 0.81818, std: 0.03502, params: {'n_estimators': 40, 'max_depth': 4},
  mean: 0.81145, std: 0.02487, params: {'n_estimators': 500, 'max_depth': 4},
  mean: 0.81706, std: 0.01993, params: {'n_estimators': 1000, 'max_depth': 4},
  mean: 0.82716, std: 0.02467, params: {'n_estimators': 10, 'max_depth': 5},
  mean: 0.82828, std: 0.03873, params: {'n_estimators': 20, 'max_depth': 5},
  mean: 0.82379, std: 0.03289, params: {'n_estimators': 30, 'max_depth': 5},
  mean: 0.81594, std: 0.03725, params: {'n_estimators': 40, 'max_depth': 5},
  mean: 0.80808, std: 0.01907, params: {'n_estimators': 500, 'max_depth': 5},
  mean: 0.81706, std: 0.01959, params: {'n_estimators': 1000, 'max_depth': 5}])

In [27]:
from sklearn.ensemble import AdaBoostClassifier

clfl2=AdaBoostClassifier()
parameters = {"n_estimators": [10, 20, 30, 40, 50, 60]}
fitmodel = GridSearchCV(clfl2, param_grid=parameters, cv=5, scoring="accuracy")
fitmodel.fit(train_x, train_y)
fitmodel.best_estimator_, fitmodel.best_params_, fitmodel.best_score_, fitmodel.grid_scores_

(AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
           learning_rate=1.0, n_estimators=60, random_state=None),
 {'n_estimators': 60},
 0.81705948372615034,
 [mean: 0.79910, std: 0.02038, params: {'n_estimators': 10},
  mean: 0.80584, std: 0.02833, params: {'n_estimators': 20},
  mean: 0.81481, std: 0.01716, params: {'n_estimators': 30},
  mean: 0.80584, std: 0.02527, params: {'n_estimators': 40},
  mean: 0.80584, std: 0.03564, params: {'n_estimators': 50},
  mean: 0.81706, std: 0.03162, params: {'n_estimators': 60}])

In [102]:
test = pd.read_csv('test.csv', header = 0)

In [103]:
test['Title'] = test['Name'].str.extract(r'([^\W]+\.)')

In [104]:
test.Title.unique()
test.Title = np.where(test.Title == 'Dona.', 'Ms', test.Title)

In [105]:
test['Child'] = np.where(test['Age'] > 18, 0, 1)
test['ExpensiveTicket'] = np.where(test['Fare'] > test['Fare'].mean(), 1, 0)
test['Age'] = test['Age'].fillna(value = test['Age'].mode()[0])
#test['Age'] = normalize(test['Age'].values)[0]
test['FamSize'] = test['SibSp'] + test['Parch']
#test['FamSize'] = normalize(test['FamSize'].values)[0]
#test['Pclass'] = normalize(test['Pclass'].values)[0]
test['CabinCategory'] = pd.Series(test['Cabin']).str[0]
test['CabinNumber'] = pd.Series(test['Cabin'].dropna().str.extract(r'(\d+)'))
test['CabinNumber'] = test['CabinNumber'].fillna(value = test['CabinNumber'].mode()[0])
test['Sex'] = np.where(test['Sex'] == 'male', 1, 0)
test['CabinCategory'] = test['CabinCategory'].fillna(value = test['CabinCategory'].mode()[0])
test['Embarked'] = test['Embarked'].fillna(value = test['Embarked'].mode()[0])
le = LabelEncoder()
le.fit(test['Title'])
test['Title'] = le.transform(test['Title'])
#test['Title'] = normalize(test['Title'].values)[0]
le.fit(test['Embarked'])
test['Embarked'] = le.transform(test['Embarked'])
#test['Embarked'] = normalize(test['Embarked'].values)[0]
le.fit(test['CabinCategory'])
test['CabinCategory'] = le.transform(test['CabinCategory'])
#test['CabinCategory'] = normalize(test['CabinCategory'].values)[0]
#test['CabinNumber'] = normalize(test['CabinNumber'].values)[0]
test_x = test.drop(['PassengerId', 'Name', 'Ticket', 
                      'Cabin', 'SibSp', 'Parch', 'CabinNumber', 
                      'ExpensiveTicket', 'FamSize', 'CabinCategory',
                      'Age', 'Embarked'], axis = 1)
test_x.head()

   Pclass  Sex     Fare  Title  Child
0       3    1   7.8292      4      0
1       3    0   7.0000      5      0
2       2    1   9.6875      4      0
3       3    1   8.6625      4      0
4       3    0  12.2875      5      0

In [106]:
for column in test_x.columns:
    print column, test_x[column].unique()

Pclass [3 2 1]
Sex [1 0]
Fare [   7.8292    7.        9.6875    8.6625   12.2875    9.225     7.6292
   29.        7.2292   24.15      7.8958   26.       82.2667   61.175
   27.7208   12.35      7.225     7.925    59.4       3.1708   31.6833
   61.3792  262.375    14.5      61.9792   30.5      21.6792   31.5
   20.575    23.45     57.75      8.05      9.5      56.4958   13.4167
   26.55      7.85     13.       52.5542   29.7       7.75     76.2917
   15.9      60.       15.0333   23.      263.       15.5792   29.125
    7.65     16.1      13.5       7.725    21.        7.8792   42.4
   28.5375  211.5      25.7      15.2458  221.7792   10.7083   14.4542
   13.9       7.775    52.        7.7958   78.85      7.8542   55.4417
    8.5167   22.525     7.8208    8.7125   15.0458    7.7792   31.6792
    7.2833    6.4375   16.7      75.2417   15.75      7.25     23.25     28.5
   25.4667   46.9     151.55     18.       51.8625   83.1583       nan
   12.1833   31.3875    7.55     13.775     7.7333   22.025    50.4958
   34.375     8.9625   39.       36.75     53.1     247.5208   16.       69.55
   32.5     134.5      10.5       8.1125   15.5      14.4     227.525
   25.7417    7.05     73.5      42.5     164.8667   13.8583   27.4458
   15.1      65.        6.4958   71.2833   75.25    106.425    30.
    7.8875   27.75    136.7792    9.325    17.4      12.7375    0.
   20.2125   39.6       6.95     81.8583   41.5792   45.5       9.35     93.5
   14.1083    7.575   135.6333  146.5208  211.3375   79.2      15.7417
    7.5792  512.3292   63.3583   51.4792   15.55     37.0042   14.4583
   39.6875   11.5      50.       12.875    21.075    39.4      20.25     47.1
   13.8625    7.7208   90.      108.9      22.3583]
Title [4 5 3 2 7 0 8 1 6]
Child [0 1]

In [108]:
test_x.Fare = test_x.Fare.fillna(13)

In [109]:
fitmodel.best_estimator_

GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=2, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=500,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [110]:
output = fitmodel.predict(test_x).astype(int)

In [111]:
len(test)

418

In [112]:
len(output)

418

In [113]:
import csv
predictions_file = open("myfirstforest.csv", "wb")
open_file_object = csv.writer(predictions_file)
open_file_object.writerow(["PassengerId","Survived"])
open_file_object.writerows(zip(test.PassengerId, output))
predictions_file.close()